/* Universal Styles */
html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    color: hsla(0, 0%, 30%, 0.9);
}

h2 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
}

button {
    background-color: #4d4d4d;
    color: seashell;
    border: unset;
    padding: 8px ;
    width: 100%;
    font-size: 1rem;
}

.grid-container {
    display: grid; 
    grid-template: 1fr / 60% 40%;
}

.grey-box {
    background-color:  #e6e6e6;
}

/* Nav Section */
header,
footer {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin: auto 1.5rem;
}

header span {
    font-size: 1.25rem;
}

.bold {
    color: hsla(0, 0%, 30%, 1);
    font-weight: 900;

}

.logo{
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    color: hsl(0, 0%, 30%);
}

nav img {
    display: none;
}

nav li,
footer li {
    display: inline-flex;
    margin: auto 1rem;
    align-content: flex-end;
    padding-left: 1.5rem;
}

/* Banner Section */
.banner {
    display: flex;
}

.banner img {
    width: 55%;
    margin: 2rem 1.5rem;
}   

.banner-text {
    width: 30%;
    align-self: center;
}

/* Main Content */
.section-container {
    margin-top: 2rem;
}

.quote {
    grid-area: 1 / 1 / 2 / 1;
    margin-left: 1.5rem;
}

.quote img {
    width: 90%;
    height: auto;
    margin: 2rem 0;
    margin-right: 1.5rem;
}

.orientation,
.campus,
.guest-lecture {
    display: flex;
    border: 1px solid hsla(0, 0%, 30%, 0.2);
}

.orientation img,
.campus img,
.guest-lecture img {
    max-width: 35%;
    height: auto;
    margin: 1rem;
}

.text-container {
    padding: 8px;
}

.orientation {
    grid-area: 1 / 2 / 1 / 2;
    border-top: unset;
}

.orientation img {
    margin-top: 0;
}

.campus {
    grid-area: 2 / 2 / 2 / 2;
}

.guest-lecture {
    grid-area: 3 / 2 / 3 / 2;
}

/* Start Learning */
.learn {
    padding: 2rem 4.5rem;
    margin-top: 2rem;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.course {
    max-width: 25%;
    min-width: 250px;
    margin: 1.5rem 2rem;
    background-color: #ffffff;
}

.course img {
    width: 100%;
    height: auto;
}

.course-text {
    padding: 0.5rem 1rem;
}

/* Thesis exhibit */
.exhibit-a video {
    width: 100%;
    height: auto;
}

.exhibit-b,
.exhibit-c {
    display: flex;
}

.exhibit-b img,
.exhibit-c img {
    max-width: 35%;
    height: auto;
    padding: 1rem;
}

.exhibit-a {
    grid-area: 1 / 1 / 1 / 1;
    padding: 1.5rem;
    padding-top: 2rem;
}

.exhibit-b {
    grid-area: 1 / 2 / 1 / 2;
}

.exhibit-c {
    grid-area: 2 / 2 / 2 / 2;

}

/* Footer */
footer {
    border-top: 1px solid  grey;
    align-items: flex-end;

}

/* Media Queries */
@media only screen and (max-width: 900px){
    header span {
        visibility: hidden;
    }
    header li {
        visibility: hidden;
    }
    header img {
        display: inline;
    }
}
