/* Universal Styles */
html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    color: hsla(0, 0%, 30%, 0.9);
}

button {
    background-color: #4d4d4d;
    color: seashell;
    border: unset;
    padding: 8px ;
    width: 100%;
    font-size: 1rem;
}

/* Nav Section */
header {
    display: flex;
    height: 4rem;
    width: 100%;
    margin: auto 1.5rem;
}

nav {
    display: flex;
    color: hsl(0, 0%, 30%);
}
nav li {
    display: inline-flex;
    margin: auto 1rem;
    align-content: flex-end;
}

.grey-box {
    background-color:  #e6e6e6;
}
/* Banner Section */
.banner {
    display: flex;
}

.banner img {
    width: 55%;
    margin: 2rem 1.5rem;
}   

.banner-text {
    width: 30%;
    align-self: center;
}

/* Main Content */
.grid-container {
    display: grid; 
    grid-template: 1fr / 60% 40%;
}

.section-container {
    margin-top: 2rem;
}

.quote {
    grid-area: 1 / 1 / 2 / 1;
    margin-left: 1.5rem;
}

.quote img {
    width: 90%;
    height: auto;
    margin: 2rem 0;
    margin-right: 1.5rem;
}

.orientation,
.campus,
.guest-lecture {
    display: flex;
    border: 1px solid hsla(0, 0%, 30%, 0.2);
}

.orientation img,
.campus img,
.guest-lecture img {
    width: 35%;
    margin: 1rem;
}

.text-container {
    padding: 8px;
}

.orientation {
    grid-area: 1 / 2 / 1 / 2;
    border-top: unset;
}

.orientation img {
    margin-top: 0;
}

.campus {
    grid-area: 2 / 2 / 2 / 2;
}

.guest-lecture {
    grid-area: 3 / 2 / 3 / 2;
}

/* Start Learning */
.learn {
    padding: 2rem 4.5rem;
    margin-top: 2rem;
}

.learn h2 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.course {
    max-width: 25%;
    min-width: 250px;
    margin: 1.5rem 2rem;
    background-color: #ffffff;
}

.course img {
    width: 100%;
    height: auto;
}

.course-text {
    padding: 0.5rem 1rem;
}