/* Universal Styles */
html {
    font-size: 16px;
}

/* Header */
header {
    display: flex;
    height: 4rem;
    width: 100%;
    margin: auto 1.5rem;
}

nav {
    display: flex;
    justify-self: flex-end;
}
nav li {
    display: inline-flex;
    margin: auto 1rem;
    align-content: flex-end;
}